body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;

}

.navbar {
  background-color: #333;
  color: #fff;
}

.navbar li a {
  background-color: #333;
  color: #fff;
}

.carousel-inner {
  height: 500px;
}

.carousel-item img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.headlines {
    text-align: center;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);


#explanation {
  text-align: center;
  margin-top: 120px;
  font-size: 18px;
}

#explanation hr {
  width: 200px;
  border: 1px solid red;
}

#explanation p {
    margin-top: 50px;
}

#arrow {
  font-size: 60px;
  text-align: center;
  margin-top: 50px;
  text-decoration: none;
}

.about-us{
  background: linear-gradient(white,#caf0f8 25%,#00b4d8);
  padding-top: 150px;
}

.about-us p {
  margin-left: 200px;
  margin-right: 200px;
  text-align: center;
}

.about-us hr {
  width: 200px;
  border: 2px solid #ffd60a;
  margin-top: 150px;
  margin-bottom: 50px;
}

#testing-procedure {
  text-align: center;
  background-color: #00b4d8;
  padding-top: 300px;
  padding-bottom: 300px;
  
}

table {
  width: 50%;
  margin: 0 auto;
  border-collapse: collapse;
  color: black;
}
th, td {
  border: 3px solid white;
  text-align: left;
  padding: 8px;
  color: white;
  font-weight: bold ;

}

.image {
  margin-top: 100px;
  height: 100px;
  position: relative;
  background-color: transparent;
}

.image img {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100px;
  margin-top: 100px;
}

footer {
  background: linear-gradient(#00b4d8,#009eca);
  min-height: 50px;
}

