body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;

}
.headlines {
    text-align: center;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);




nav {
  max-width: 960px;
  mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
  margin: 0 auto;
  padding: 60px 0;
}

nav ul {
  text-align: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 18px;
  font-family: "Open Sans";
  text-transform:uppercase;
  color: rgba(0, 35, 122, 0.5);
  font-size: 18px;
  text-decoration: none;
  display: block;
}

nav ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: rgba(0, 35, 122, 0.7);
}


#explanation {
  text-align: center;
  margin-top: 120px;
  font-size: 18px;
}

#explanation hr {
  width: 200px;
  border: 1px solid red;
}

#explanation p {
    margin-top: 50px;
}

#arrow {
  font-size: 60px;
  text-align: center;
  margin-top: 50px;
  text-decoration: none;
}

#testing-procedure {
  margin-top: 50vh;
  text-align: center;
}

table {
  width: 50%;
  margin: 0 auto;
  border-collapse: collapse;
}
th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.about-us{
  background: linear-gradient(white,#caf0f8 25%,#00b4d8);
}

.about-us p {
  margin-left: 200px;
  margin-right: 200px;
  text-align: center;
}

.about-us hr {
  width: 200px;
  border: 2px solid #ffd60a;
  margin-top: 150px;
  margin-bottom: 50px;
}

.image {
  margin-top: 100px;
  height: 100px;
  position: relative;
  background-color: transparent;
}

.image img {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100px;
  margin-top: 100px;
}

footer {
  background: linear-gradient(#00b4d8,#009eca);
  min-height: 50px;
}
